# osm-gimmisn data
refdir
workdir
*.cache
wsgi.ini
*.validyaml

# Rust
Cargo.lock
target
check-clippy
check-rustfmt

# TypeScript
builddir
*.eslint
node_modules
package-lock.json
config.ts

# vim
.*.swp

# gettext
*.po~
*.mo

# ctags
tags
rusty-tags.vi
