# osm-gimmisn data
*.cache
*.validyaml

# Rust
target
check-clippy
check-rustfmt

# TypeScript
*.eslint
node_modules
package-lock.json
config.ts

# vim
.*.swp

# gettext
*.po~
*.mo

# ctags
tags
rusty-tags.vi

# make
config.mak
