[REPORTS]

# Activate the evaluation score.
score=no

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module.
max-module-lines=2000

[DESIGN]

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of locals for function / method body.
max-locals=20

# Maximum number of attributes for a class (see R0902).
max-attributes=8
