[REPORTS]

# Activate the evaluation score.
score=no

[FORMAT]

# Default: 100.
max-line-length=200

# Default: 1000.
max-module-lines=2000

[DESIGN]

# Default: 2, not allowing ctor + public attributes.
min-public-methods=0

# Default: 15.
max-locals=30

# Default: 7.
max-attributes=14

# Default: 6.
max-returns=12

# Default: 20.
max-public-methods=40
