language: python
python:
  - "3.6"
  - "3.9"
dist: xenial
before_script:
  - nvm install
  - npm install
script: make check
branches:
  except:
    # build e.g. master, but not private/vmiklos/master
    - /private\/.*/
notifications:
    webhooks:
        if: type = push AND branch = master
        urls:
            - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MGJraWwlM0FncmluLmh1LyUyMWlWRllVTGhlVnBKcXBnSHJaSCUzQW1hdHJpeC5vcmc"
        on_success: always  # always|never|change
        on_failure: always
        on_start: never
