[package]
name = "osm-gimmisn"
version = "25.2.0"
edition = "2021"
license = "MIT"

[dependencies]
accept-language = "3.1.0"
anyhow = "1.0.95"
clap = "4.5.23"
csv = "1.3.1"
derivative = "2.2.0"
gettext = "0.4.0"
git-version = "0.3.9"
html-escape = "0.2.13"
html_parser = "0.7.0"
isahc = "1.7.2"
lazy_static = "1.5.0"
log = "0.4.22"
once_cell = "1.20.2"
regex = "1.11.1"
rouille = "3.6.2"
rusqlite = { version = "0.32.1", features = ["bundled"] }
rust_icu_ucol = { version = "5.0.0", optional = true }
rust_icu_unumberformatter = { version = "5.0.0", optional = true }
rust_icu_ustring = { version = "5.0.0", optional = true }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
serde_yaml = "0.9.34"
simplelog = "0.12.2"
time = { version = "0.3.37", features = ["formatting", "macros", "local-offset", "serde-well-known"] }
toml = "0.8.19"
unidecode = "0.3.0"
url = "2.5.4"

[dev-dependencies]
flate2 = "1.0.35"
sxd-document = "0.3.2"
sxd-xpath = "0.4.2"

[features]
icu = ["rust_icu_ucol", "rust_icu_ustring", "rust_icu_unumberformatter"]
default = ["icu"]

[profile.symbols]
inherits = "release"
debug = true

# Till <https://github.com/google/rust_icu/pull/306> hits a release.
[patch.crates-io]
rust_icu_sys = { git = "https://github.com/google/rust_icu", rev = "28820f8bbd4b4b107ce7c4e03c77b1f5c813c555" }
