[Unit]
Description=Finds objects missing from the OSM DB.
After=network.target

[Service]
ExecStart=/home/osm-gimmisn/git/osm-gimmisn/target/release/rouille
Restart=on-failure
RestartSec=1s
User=osm-gimmisn

[Install]
WantedBy=multi-user.target
