# See <https://docs.python.org/3/tutorial/venv.html> on how to easily use
# exactly these versions locally.
coverage==5.0.3
flake8==3.7.9
mypy==0.770
pylint==2.4.4
pytz==2019.3
pyyaml==5.3
yattag==1.13.2
yamllint==1.21.0
