table {
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: center;
}

td {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding: 4px;
    text-underline-position: under; 
}

table, th, td {
    border-width: thin;
    border-style: solid;
}

div.canvasblock {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #7f7f7f;
    padding: 5px;
    height: calc(50vw - 22px);
}
@media screen and (min-width: 1024px) {
    div.canvasblock {
        width: 75%;
        height: calc(37.5vw - 12px);
    }
}

/* Improve abbr's title for mobile. */
@media (pointer: coarse), (hover: none) {
  abbr[title] {
    display: inline-flex;
    justify-content: center;
  }
  abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    left: 10px;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: 90%;
    padding: 5px;
    margin-top: 20px;
    white-space: pre-wrap;
  }
}

/* Loader */
.loader {
    height : 8px;
    width  : 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
    display                   : inline-block;
    height                    : 8px;
    width                     : 8px;
    margin                    : 0px 2px;
    background-color          : rgb(0,146,255);
    animation-name            : fadeOutIn;
    animation-duration        : 500ms;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}

.loader-box:nth-child(1) { animation-delay: 250ms; } /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) { animation-delay: 500ms; } /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) { animation-delay: 750ms; } /* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
    0%   { background-color : rgba(0,146,255,1); }
    100% { background-color : rgba(0,146,255,0); }
}

.no-js {
    display: none;
}

.js {
    display: block;
}

/* vim:set shiftwidth=4 softtabstop=4 expandtab: */
