table {
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: center;
}

td {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding: 4px;
}

table, th, td {
    border-width: thin;
    border-style: solid;
}

div.canvasblock {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #7f7f7f;
    padding: 5px;
}
@media screen and (min-width: 1024px) {
    div.canvasblock {
        width: 75%;
    }
}

/* vim:set shiftwidth=4 softtabstop=4 expandtab: */
