table {
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: center;
}

td {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding: 4px;
}

table, th, td {
    border-width: thin;
    border-style: solid;
}

@media only screen and (max-width: 960px) {
  body {
    margin: 40px auto;
    max-width: 650px;
  }
}

/* vim:set shiftwidth=4 softtabstop=4 expandtab: */
