[wsgi]
reference_housenumbers = 'workdir/refs/hazszamok_20240407.tsv workdir/refs/hazszamok_kieg_20240519.tsv'
reference_street = 'workdir/refs/utcak_20240407.tsv'
reference_citycounts = 'workdir/refs/varosok_count_20240331.tsv'
reference_zipcounts = 'workdir/refs/irsz_count_20240331.tsv'
