[wsgi]
reference_housenumbers = 'workdir/refs/hazszamok_20240128.tsv workdir/refs/hazszamok_kieg_20240128.tsv'
reference_street = 'workdir/refs/utcak_20240128.tsv'
reference_citycounts = 'workdir/refs/varosok_count_20231118.tsv'
reference_zipcounts = 'workdir/refs/irsz_count_20231112.tsv'
