name: tests
on:
  push:
    branches-ignore:
      - 'private/**'
  pull_request:
    branches-ignore:
      - 'private/**'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: 1.93.0
          components: rustfmt, clippy, llvm-tools-preview
      - name: Rust Cache
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-1.93.0-${{ hashFiles('**/Cargo.toml') }}
      - name: Setup Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 22
      - name: Run make check
        run: |
          tools/ci-build.sh
